.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.477);
  padding: 20px;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.login-title {
  font-size: 24px;
  color: #3b82f6; /* blue-600 */
  font-weight: 700;
  margin-bottom: 8px;
}

.login-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.login-footer {
  margin-top: 24px;
  font-size: 12px;
     color:#4d4d4d;

  border-top: 1px solid #020202;
  padding-top: 16px;
}
/* Inputs and labels */
.input-label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #0f0f0f;
  margin-bottom: 6px;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Button */
.signin-button {
  width: 100%;
  padding: 12px;
  background-color: #3b82f6;
  color: #fffcfc;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
  text-align: center;
}

.signin-button:hover {
  background-color: #2563eb;
}
.signin-button2{
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  color: #434242;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
  text-align: center;
  margin-top: 10px;
  border-color: #020202;
}

.signin-button:hover {
  background-color: #2563eb;
}

/* Links */
.login-links {
  margin-top: 16px;
  font-size: 13px;
}

.login-links a {
  color: #3b82f6;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}
.Ac{
  color:#3b82f6 ;
}
.icon{
  width: 20px;
  height: 20px;
}
