*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:rgb(27, 27, 27);
  font-family: 'Inter', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 20%;
  padding-right: 20%;
}